@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Our Company XYZ Ltd (ASX: CAR) is the largest online automotive, motorcycle and marine classifieds business in Australia. Attracting more Indians interested in buying or selling cars, motorcycles, trucks, caravans and boats than any other classified group of websites.</p>
