@{
    ViewBag.Title = "Home Page";
}


<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">CarSales MVP v1.0</h1>
                    <p class="intro-text"> 
                        Welcome to CarSales. <br />
                         Start by clicking 'Vehicle Management System' menu

                    </p>
                </div>
            </div>
        </div>
    </div>
</header>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
